.bg-form{
    background-color:#e1e1e1
}
.form{
    background-color:#fff;
    padding:24px
}

.mat-form-field {
    width: 100%;
}

.example-form  input{
    height:52px;
    border:1px solid #e1e1e1;
    width:100%;
    padding-left: 12px;
}

.dropdown a{
    height:52px;
    border:1px solid #e1e1e1;
    width:100%;
    padding-left: 12px;
    line-height:39px;
    text-align: left;
    border-radius:0
}

.mat-form-field-appearance-fill .mat-form-field-flex{
    border-radius: 4px 4px 0 0;
    padding: 0.75em 0.75em 0 0.75em;
    border: 1px solid #e1e1e1;
    width: 100%;
    padding-left: 12px;
    border-radius: 0;
    background: transparent;
}
.categoryname{
    font-size: 13px;
    color: #504f4f;
}
.mat-option {
    line-height: 41px;height: 65px;margin-bottom: 10px;}
.heads{
    color: #000;
    line-height: 0;
}

.input-result{
    margin-top:25px
}

ul.starlist{
    width: 100%;
}
.modify{
    margin-right: 12px;
    margin-left:12px;
}
ul.starlist li{
    margin-bottom: 10px;
}
.star{
    color: #f1c00c;
}